/* CSS for Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
  }
  
  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }



  /* projos */
.projos {
    padding: 10px;
  }
  
  .project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px; 
  }
  
  .project + .project {
    border-top: 1px solid #ccc; 
  }
  
  